/* CSS */

#header {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 100px;
    padding-top: 25px; 
    text-align: center; 
}

/* landing page */
.text-box {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 70px;
    padding-top: 25px;
}

#clairePic {
    width: 200px;
    border-radius: 50%;
}

.aboutMe {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

/* section 1 */
.parallax1 {
    /* The image used */
    background-image: url("../assets/black-business-computer-296116.jpg");
  
    /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* section 2 */
  .parallax2 {
    /* The image used */
    background-image: url("../assets/woman\ on\ computer.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* section 3 */
  .parallax3 {
    /* The image used */
    background-image: url("../assets/adventure-balance-balanced-7640.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* section 4 */
    .parallax4 {
        /* The image used */
        background-image: url("../assets/agenda-concept-development-7376.jpg");
      
        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }