/* CSS */



.myName {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 100px;
  padding-top: 90px;
  text-align: center;

}

/* changes whole name and title object */
.myName span {
  background-color: rgba(193, 66, 66, 0.15); 
  padding: 20px;
  border-radius: 25px;
}

.myTitle {
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: -30px;
}

.navbar {
margin-top: 350px;
}

/* landing page */

.text-box {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 70px;
  padding-top: 25px;
  padding-left: 0%;
  padding-right: 0%;
}

#clairePic {
  width: 200px;
  border-radius: 50%;
}

.aboutMe {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  margin-left: 200px;
  margin-right: 200px;
}

/* section 1 */

.parallax1 {
  /* The image used */
  background-image: url("../assets/black-business-computer-296116.jpg");
  /* Set a specific height */
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

/* section 2 */

.parallax2 {
  /* The image used */
  background-image: url("../assets/woman\ on\ computer.jpg");
  /* Set a specific height */
  min-height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.programmingTitle {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  padding-right: 0%;
}

.text-box-programming {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 70px;
  padding-top: 230px;
  padding-left: 0%;
  padding-right: 0%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.programmingExamples {
  /* Hangman Game */
  /* background-image: url("../assets/programming/Hangman.PNG"); */
  padding: 0%;
  background-position: top;
  background-repeat: no-repeat; 


   /* Smoothie Shop */
   /* background-image: url("../assets/programming/smoothieshop.PNG");
   padding: 0%;
   background-position: top;
   background-repeat: no-repeat; */
}

.programmingExamples ul, li, img, div {
  padding: 0%;
  list-style: none;
  margin: 0%;
}

.projectList div {
  position: relative;
}

.centerImage {
  display: block;
  block-size: 500px;
  width: 100%;
}

.link-image {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 460px;
  right: 50px;
}

.github-image {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 460px;
  right: 15px;
}


/* section 3 */

.parallax3 {
  /* The image used */
  background-image: url("../assets/agenda-concept-development-7376.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pm {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
}
/* section 4 */

.parallax4 {
  /* The image used */
  background-image: url("../assets/adventure-balance-balanced-7640.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactTitle {
  text-align: center;
}

.contact {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  padding: 20px;
}

.linkedin-image {
  width: 25px;
  height: 25px;
}

.linkedin-image, .github-image2 {
  width: 33px;
  height: 33px;
  position: relative;
}